body{
    margin: 0;
}

html{
    background-color: #fff5f0;
}

h1{
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

p,h1,h2{
    text-align: center;
}

.redirect-btn{
    flex: 1;
    padding: 10px 0;
    background-color: bisque;
    cursor: pointer;
    font-weight: bold;
    border: none;

    opacity: 0.9;

    transition: background-color 0.15s, opacity 0.15s;
}

.redirect-btn:hover{
    opacity: 1;
}

#profile-btn img{
    height: 50px;
}

header{
    height: 41vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url("resource/background/bg1.jpg");
    background-position: 15% 0%;
}

.redirect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: flex-start;
}

.displacement{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    transform: translateX(0);
}

.offer{
    height: 50vh;
    width: 100%;
    background-color: black;
    margin-top: 5vh;
}

#offer-img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: 100%;

    object-fit: contain;
    cursor: pointer;
}

.text-example{
    display:block;
    position: relative;
    top: -7rem;
    color: white;

    overflow: hidden;
    font-size: 0;
    font-style: italic;
    font-weight: bold;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    z-index: 1;

    opacity: 0;
    transition: font-size 2.5s, opacity 1.5s;
}

.text-entry{
    opacity: 1;
    font-size: 6vw;
}

.entry-effect{
    animation: entry 1.5s linear 0s 1 normal both;
}

.leave-effect{
    animation: leave 1.5s linear 0s 1 normal both;
}

@keyframes entry{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes leave{
    from{
        transform: translateX(0);
        opacity: 1;
    }

    to{
        transform: translateX(100%);
        opacity: 0;
    }
}

@media (min-width: 670px){
    .text-entry{
        font-size: 30px;
    }
}